<div class="center-content">
  @for (person of people; track person) {
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        [src]="person.profile_image_url"
        alt="{{ person.name }} profilképe."
      />
      <mat-card-title> {{ person.name }} </mat-card-title>
      <mat-card-subtitle> {{ person.role }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @for (sentence of person.description; track sentence) {
      {{ sentence }}
      <br />
      }
    </mat-card-content>
    @if (person.phone_number || person.email_address) {
    <mat-card-actions>
      @if (person.phone_number) {
      <a href="tel:{{ person.phone_number }}">
        <button mat-button>
          <mat-icon>call</mat-icon>
          {{ person.phone_number }}
        </button>
      </a>
      } @if (person.email_address) {
      <a href="mailto:{{ person.email_address }}">
        <button mat-button>
          <mat-icon>mail</mat-icon>
          {{ person.email_address }}
        </button>
      </a>
      }
    </mat-card-actions>
    }
  </mat-card>
  }
</div>
