.center-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 16px;
  max-width: 512px;
  min-height: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}
