<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button color="primary" routerLink="/">
      <div style="display: flex; align-items: center">
        <img src="assets/logo.png" alt="Az indián tábor logója." />
        <span style="padding-left: 6px"> Indiánok </span>
      </div>
    </button>
    @if (!mobileQuery.matches) {
    <button
      mat-flat-button
      color="primary"
      routerLink="/apply"
      routerLinkActive="active-button"
    >
      Jelentkezés
    </button>
    <button
      mat-flat-button
      color="primary"
      routerLink="/contact"
      routerLinkActive="active-button"
    >
      Kapcsolat
    </button>
    <button
      mat-flat-button
      color="primary"
      routerLink="/archive"
      routerLinkActive="active-button"
    >
      Archívum
    </button>
    }
    <span class="spacer"></span>
    <button mat-icon-button (click)="changeDarkMode()">
      <mat-icon>{{ darkMode ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </mat-toolbar-row>
  @if (mobileQuery.matches) {
  <mat-toolbar-row class="navbar-small">
    <button
      mat-flat-button
      color="primary"
      routerLink="/apply"
      routerLinkActive="active-button"
    >
      Jelentkezés
    </button>
    <button
      mat-flat-button
      color="primary"
      routerLink="/contact"
      routerLinkActive="active-button"
    >
      Kapcsolat
    </button>
    <button
      mat-flat-button
      color="primary"
      routerLink="/archive"
      routerLinkActive="active-button"
    >
      Archívum
    </button>
  </mat-toolbar-row>
  }
</mat-toolbar>
