<div class="center-content">
  @for (video of videos; track video) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ video.name }}</mat-card-title>
      <mat-card-subtitle>{{ video.year }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <iframe
        width="480"
        height="240"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(video.url)"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
        Töltés...
      </iframe>
    </mat-card-content>
  </mat-card>
  }
</div>
