<mat-grid-list cols="2" rowHeight="16:9">
  <mat-grid-tile>
    <div>
      <p>
        Olyan ez, mint egy időutazás. Álmodoztál már valaha, hogy hirtelen egy
        másik világban találod magad?
        <br />
        Mit éreznél? Kiváncsiság, kalandvágy, izgalom és egy kis félelem az
        ismeretlentől?
      </p>
      <p>
        Valósítsd meg az álmaidat! Egy két kattintás és nyáron már a
        vadnyugaton, egy indián faluban találod magad - persze, csak ha nem
        félsz egy ilyen kalandtól.
      </p>
      <p>
        Otthon elbúcsúzol a számítógépedtől, a kedvenc játékaidtól, - de a
        barátaidtól nem kell elbúcsúzni, mert ők is jöhetnek a táborba.
      </p>
      <p>
        Ismeretlen tájak felé autózol és egyszer csak kivillan a fák lombjai
        közül az indián sátrak színes festése.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_1.jpg"
      width="100%"
      height="auto"
      alt="Hat tipi egy erdöszéli réten."
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_2.jpg"
      width="100%"
      height="auto"
      alt="Egy furulyázó indián."
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <p>
        Elsőre furcsa, idegen környezet ez, érzed az erdő, mező illatát, amibe
        gyenge füst szag keveredik.
        <br />
        Első látásra az indiánok is különösnek tűnhetnek, szokatlan ruhákba
        járnak, időnként kifestik az arcukat és tollakat viselnek. Még a
        beszédük is kicsit más, mint amit megszoktál a kőtipik világában.
      </p>
      <p>
        Nem kell megijedni, a legjobb helyre jöttél. Az indiánok nagyon kedves,
        barátságos emberek. Pillanatok alatt találsz új barátokat is és az esti
        tábortűznél már lelkesen tervezitek a másnapi programokat.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <p>
        Ebben a táborban csak Te számítasz.
        <br />
        Szabad vagy, senki nem parancsol és nem kényszerít olyan dolgokra, amit
        nem szeretnél.
        <br />
        Az indián törzsben mindenki tegeződik, nincs tanár és diák, csak barátok
        vannak.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_3.jpg"
      width="100%"
      height="auto"
      alt="Két kézműveskedő gyerek indián ruhában."
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_4.jpg"
      width="100%"
      height="auto"
      alt="Egy indián harcosnak öltözött gyerek, kifestve, lándzsával, egy tipi előtt."
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <p>
        Ebben a táborban még jobban megismerheted és kipróbálhatod magad. Félsz
        a sötétben, vagy attól tartasz, hogy mások kinevetnek, mert nem tudsz
        olyan gyorsan futni?
        <br />
        Ne félj, itt mindenki számít, mert tudjuk, hogy minden ember egyedi és
        utánozhatatlan.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <p>
        Az indián táborban megtanulhatod hogyan értesd meg és fogadtasd el
        önmagad másokkal.
      </p>
      <p>
        Kipróbálhatod magad különböző szerepekben, a közös játékokban jobban
        megérted a többieket, azt, hogy milyen fontos egy közösségben lenni.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_5.jpg"
      width="100%"
      height="auto"
      alt="A táborban táncoló, kifestett indiánok."
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_6.jpg"
      width="100%"
      height="auto"
      alt="Harci játékra készülő gyerekek, kifestve, indián ruhákban."
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <p>
        Megismerhetsz olyan technikákat, ami egész életedben segít, ha magadra
        maradsz és meg kell oldanod feladatokat.
        <br />
        És megismerheted az erdőt járó emberek nélkülözhetetlen tudását, a
        tűzgyújtástól a kunyhóépítésig.
      </p>
      <p>
        Természetesen szó sincs arról, hogy az a sült galamb csak úgy jön.
        Mindent együtt csinálunk és a tábori életben sok olyan dolgot is
        megtanulsz, amit eddig nem tudtál kipróbálni.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_7.jpg"
      width="100%"
      height="auto"
      alt="Doboló, éneklő indiánok."
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <p>
        Nem csak nyári tábor, hanem egy baráti társaság vagyunk, a tábor után is
        tartjuk a kapcsolatot és vannak közös programok.
        <br />
        A főnökök tanácsa :) már 20 éve szervez indián táborokat, sok száz
        gyermeknek nyújtottunk felejthetetlen élményeket.
        <br />
        Sokan visszajönnek évről évre, és ma már felnőttként, szülőként vesznek
        részt a nyári táborokban.
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <p>
        Ha szeretsz játszani, ha szeretnéd jobban megismerni önmagad és a
        világot, ha szeretnél új barátokat szerezni és érdekes emberekkel
        találkozni, akkor jelentkezz és gyere el!
      </p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/home_8.jpg"
      width="100%"
      height="auto"
      alt="Egy indián harcost ölelő kislány."
    />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <div>
      <p>
        – Az élménypedagógia történelmi gyökerei nagyon régi időkre nyúlnak
        vissza. Alapjában véve az élménypedagógia mai fogalma egy visszalépést
        sugall.
      </p>
      <p>
        Egy visszalépést ahhoz, amikor a tanulás örömet jelentett, amikor a
        gyermek saját tapasztalati alapján tanult. Nem állítom azt, hogy mindent
        a saját tapasztalatunkon keresztül kell megtanulni, mert vannak
        standerek: hatszor nyolc például az pont negyvennyolc és erről a saját
        tapasztalat sem mondhat mást.
        <br />
        De a huszadik század végén sajátosan háttérbe szorult az a fajta
        oktatás, ami nagyobb teret adott a személyes felfedezésnek, a személyes
        tapasztalatszerzésnek, a gyermek élményekben gazdag tanulási
        folyamatának.
      </p>
      <p>
        Ezt szeretné az élménypedagógia újra a középpontba állítani. Elsősorban
        nem oktatási, hanem nevelési felhasználásról van szó. Arról, hogy ne
        tantárgyakat tanítsunk, hanem valami olyant, aminek hitünk szerint
        messze nagyobb hasznát látja, mint konkrét tárgyszerű tudásnak: egy
        szemléletet, egy együttműködési készséget, egy kommunikációs
        hajlandóságot adjunk át abból a célból, hogy a gyermek képes legyen
        párban, kis csoportban vagy nagyobb létszámú csoportban együtt dolgozni,
        de egyáltalán együtt létezni.
      </p>
      <p>
        Az a tapasztalatunk, hogy sajnálatosan háttérbe szorult az iskolák
        közösségépítő tevékenysége. Egy picit ezt is szeretné az élménypedagógia
        visszahozni, hogy közösen, csoportban dolgozva újra élménnyé váljon a
        tanulás, és újra élménnyé váljon a csoportban való lét, úgy hogy az
        fejlesztően visszahasson a gyerekekre.
      </p>
      <p>
        (Bányai Sándor egyetemi docens, az élmény- és kalandpedagógia
        elkötelezett művelője)
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
