// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$indianok-primary: mat.define-palette(mat.$brown-palette);
$indianok-accent: mat.define-palette(
  mat.$light-green-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$indianok-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$indianok-theme: mat.define-light-theme(
  (
    color: (
      primary: $indianok-primary,
      accent: $indianok-accent,
      warn: $indianok-warn,
    ),
  )
);

$dark-primary: mat.define-palette(mat.$brown-palette, 800);
$dark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$indianok-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $indianok-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($indianok-theme);

.dark-theme {
  @include mat.all-component-colors($indianok-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
